/*

    - This code by ahmed ayob 

*/
@use "./colors" as *;
/*

    =============== Media queries for responsive design ===============

*/

@mixin mq($query) {
  @if $query ==mq1 {
    @media (min-width: 329px) {
      @content;
    }
  }

  @if $query ==mq2 {
    @media (min-width: 576px) {
      @content;
    }
  }

  @if $query ==mq3 {
    @media (min-width: 767px) {
      @content;
    }
  }

  @if $query ==mq4 {
    @media (min-width: 1023px) {
      @content;
    }
  }

  @if $query ==mq5 {
    @media (min-width: 1040px) {
      @content;
    }
  }

  @if $query ==mq6 {
    @media (min-width: 1496px) {
      @content;
    }
  }

  @if $query ==mq7 {
    @media (min-width: 2496px) {
      @content;
    }
  }

  @if $query ==mq8 {
    @media (min-width: 2100px) {
      @content;
    }
  }
}

/*

    =============== Flex ===============

*/

@mixin flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-center-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@mixin flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-align-items-end {
  display: flex;
  align-items: end;
}

@mixin flex-align-items-center {
  display: flex;
  align-items: center;
}

/*

    =============== Grid ===============

*/

@mixin grid-center-center {
  display: grid;
  align-items: center;
  justify-content: center;
}

@mixin grid-align-items-center {
  display: grid;
  align-items: center;
}

@mixin grid-place-center {
  display: grid;
  place-content: center;
}

/*

    =============== Position ===============

*/

@mixin absolute-0 {
  position: absolute;
  top: 0;
  left: 0;
}

@mixin fixed-0 {
  position: fixed;
  top: 0;
  left: 0;
}

@mixin fixed-bottom {
  position: fixed;
  bottom: clamp(1.5rem, 4vw, 2.5rem);
  left: 0;
  right: 0;
}

@mixin absolute-horz-center {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

/*

    =============== Containers Aspects ===============

*/

@mixin container {
  max-width: 1080px;
  margin-inline: 1rem;

  @include mq(mq1) {
    margin-inline: clamp(1.5rem, 5vw, 4rem);
  }

  @include mq(mq4) {
    margin-inline: auto;
  }
}

@mixin section {
  padding: 3.5rem 0 1rem;

  @include mq(mq1) {
    padding: 5.5rem 0 2rem;
  }

  @include mq(mq4) {
    padding: 7.5rem 0rem 4rem;
  }
}

/*

    =============== Img Container ===============

    */

@mixin Img-container {
  z-index: 1;
  position: relative;

  &__orbe {
    width: clamp(235px, 4vw, 504px);
    height: clamp(264px, 4vw, 611px);
    background-color: var(--border-color);
    background-color: #f6f6f6;
    border-radius: 179px 179px 0 0;

    @include mq(mq3) {
      width: 380px;
      height: 492px;
    }

    @include mq(mq4) {
      width: 573px;
      height: 700px;
      margin-right: -2rem;
      border-radius: 289px 289px 0 0;
    }
  }

  &__img {
    position: absolute;
    inset: 0;
    width: clamp(220px, 4vw, 472px);
    height: clamp(280px, 4vw, 634px);
    top: clamp(0.5rem, 1.5vw, 3rem);
    margin: 0 auto;
    overflow: hidden;
    border-radius: 170px 170px 12px 12px;
    box-shadow: var(--box-shadow);

    overflow: hidden;

    @include mq(mq3) {
      width: 350px;
      height: 512px;
    }

    @include mq(mq4) {
      width: 542px;
      height: 750px;
      border-radius: 269px 269px 20px 20px;
      top: 1rem;
      left: 1rem;
    }
  }
}

@mixin second-img {
  &__orbe {
    border-radius: 179px 179px 12px 12px;
  }

  &__img {
    height: 248px;
  }

  @include mq(mq3) {
    &__orbe {
      width: 309px;
      height: 410px;
    }

    &__img {
      width: 289px;
      height: 391px;
    }
  }

  @include mq(mq4) {
    &__img {
      width: 500px;
      height: 670px;
      margin: 0;
    }

    &__orbe {
      width: 530px;
      height: 700px;
      border-radius: 289px 289px 20px 20px;
    }
  }
}

/*

    =============== Logo ===============

*/

@mixin logo {
  position: relative;
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
  z-index: 1;

  &::after {
    position: absolute;
    content: "";
    top: -1px;
    right: -7px;
    width: 17px;
    height: 17px;
    background: linear-gradient(
      to right,
      var(--first-color-light),
      var(--first-color)
    );
    border-radius: 50%;
    z-index: -1;

    @include mq(mq4) {
      width: 19px;
      height: 19px;
      top: 1px;
      right: -9px;
    }
  }
}
