/*

    - This code by ahmed ayob 

*/

/*

    =============== Fonts Famaily ===============

*/
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: local('Poppins'),
        url('/public/fonts/Poppins-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 100;
    src: local('Poppins'), url('/public/fonts/Poppins-Thin.woff') format('woff');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    src: local('Poppins'),
        url('/public/fonts/Poppins-ExtraLight.woff') format('woff');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: local('Poppins'),
        url('/public/fonts/Poppins-Light.woff') format('woff');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: local('Poppins'),
        url('/public/fonts/Poppins-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: local('Poppins'),
        url('/public/fonts/Poppins-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: local('Poppins'), url('/public/fonts/Poppins-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: local('Poppins'),
        url('/public/fonts/Poppins-ExtraBold.woff') format('woff');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: local('Poppins Black'),
        url('/public/fonts/Poppins-Black.woff') format('woff');
}
